<div class="album-view">
	<div id="album-info">
	    <img src="{{ image }}">
	    <h1>{{ name }} </h1>
	    <h4>{{ artist }} </h4>
	    <p>{{ description }}</p>
	</div>
	<div id="track-info">
	    <ul>{{#each tracks }}
	        <li><span class="order">{{ number }}</span><span class="name">{{ name }}</span>
	        <span class="time">{{ description }}</span></li>
	        {{/each}}
	    </ul>
	</div>
<div>